body {
	margin: 0;
}

/*Header*/
header, 
.logo,
.navigation {
	display: flex;
	align-items: center;
}

header {
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
  	border-bottom: 1px solid black;
  	height: 80px;
  	justify-content: space-between;
  	position: fixed;
  	width: 100%;
  	z-index: 10;
  	background: white;
}

.logo {
	padding-left: 20px;
}

.logo img {
	margin-right: 10px;
}

.logo span {
	color: MediumAquamarine;
}

.navigation {
	padding-right: 30px;
}

.navigation ul li {
	display: inline-block;
	padding: 10px;
}

.navigation ul li a {
	color: black;
}

/*Main Content*/

.content, 
.content .column {
	display: flex;
}

.content {
	padding-top: 80px;
}

.content .column.large {
	width: 630px;
	flex-direction: column;
}

.content .column.large .headline {
	background: url(resources/img-story-main.png);
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
  	color: white;
  	height: 300px;
}

.content .column .large-bottom {
	display: flex;
}

.content .column.large .large-bottom .news {
	flex-direction: column;
}

.content .column.large .large-bottom .news .headline1 {
	background: url(resources/img-story-2.png);
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
  	color: white;
  	height: 300px;
}

.content .column.large .large-bottom .news .headline2 {
	background: url(resources/img-story-3.png);
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
  	color: white;
  	height: 300px;
}

.content .column.medium {
	width: 300px;
	flex-direction: column;
}

.content .column.medium .headline3 {
	background: url(resources/img-story-1.png);
	font-family: Georgia;
  	font-weight: bold;
  	font-size: 30px;
  	color: white;
  	height: 300px;
}

.content .column.small {
	width: 240px;
	flex-direction: column;
}

.main-text {
	font-family: Georgia;
  	font-size: 17px;
  	color: black;
}

