body {
	margin: 0;
}

/*Header*/
header, 
.logo,
.navigation {
	display: flex;
	align-items: center;
}

header {
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
  	border-bottom: 1px solid black;
  	height: 80px;
  	justify-content: space-between;
  	position: fixed;
  	width: 100%;
}

.logo {
	padding-left: 20px;
}

.logo img {
	margin-right: 10px;
}

.logo span {
	color: MediumAquamarine;
}

.navigation {
	padding-right: 30px;
}

.navigation ul li {
	display: inline-block;
	padding: 10px;
}

.navigation ul li a {
	color: black;
}

/*Main Content*/

.content, 
.content .column {
	display: flex;
}

.content {
	padding-top: 80px;
}

.content .column.large {
	width: 630px;
	flex-direction: column;
}

.content .column .large-bottom {
	display: flex;
}

.content .column.large .large-bottom .news {
	flex-direction: column;
}

.content .column.medium {
	width: 300px;
	flex-direction: column;
}

.content .column.small {
	width: 240px;
	flex-direction: column;
}

